body {
    background-color: #e5e5e5;
}

.cabecalho {
    display: block;
    height: 70px;
    background-color: #FF914D;
    text-align: center;
    color: #fff;
}

.mural {
    display: flex;
    flex-flow: wrap;
    width: 800px;
    margin: auto;
}

.mural .produto {
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    color:#222;
}

.mural .produto img {
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
}

